# Core
fastapi==0.115.0
uvicorn[standard]==0.30.0
python-dotenv==1.0.1
pydantic==2.7.0

# LangGraph + LangChain
langchain==0.2.16
langchain-community==0.2.16
langchain-openai==0.1.25
langgraph==0.2.14

# RAG
pinecone-client==4.1.2
pypdf==4.3.1

# Vision
google-generativeai==0.7.2
Pillow==10.4.0

# Web search
tavily-python==0.3.3

# Utilities
requests==2.32.3

# DB
pymongo[srv]==4.8.0
